@model ProductDTO


  
<div class="card">
      
    <img class="card-img-top" src="@Model.ImageUrl" />
    <div class="card-body">
        <h4 class="card-title">Name: @Model.Name</h4>
        <h5 class="card-text">Price: @Model.Price  </h5>
        <h6 class="card-text">Discount: @Model.Discount %</h6>
    </div>
</div>



