@model ProductDTO


  
<div class="card">
      
    <img class="card-img-top" src="@Model.ImageUrl" />
    <div class="card-body">
        <h4 class="card-title"><strong> @Model.Name</strong></h4>
        <h5 class="card-text"> @Model.Price. $ </h5>
        <h7 class="card-text"> @Model.Discount %</h7>
    </div>
</div>



