<footer class="bg-dark text-light mt-5">
    <div class="container py-3 text-center">
        <small>
            © @DateTime.Now.Year AM Supplement —
            Built with Ahmed mohamed:01114790265
        </small>
    </div>
</footer>
