@using AMSupplement.Domain.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
            AM Supplement
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Product" asp-action="Index">
                        Products
                    </a>
                </li>

                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Cart" asp-action="Index">
                            Cart
                        </a>
                    </li>
                }
            </ul>

            <ul class="navbar-nav ms-auto">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <span class="navbar-text text-light me-3">
                            Hello, @User.Identity?.Name
                        </span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           asp-controller="Account"
                           asp-action="ChangePassword">
                            Change Password
                        </a>
                    </li>

                    <li class="nav-item">
                        <form asp-controller="Account"
                              asp-action="Logout"
                              method="post" class="d-inline">
                            @Html.AntiForgeryToken()
                            <button type="submit"
                                    class="btn btn-link nav-link">
                                Logout
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link"
                           asp-controller="Account"
                           asp-action="LogIn">
                            Login
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           asp-controller="Account"
                           asp-action="Register">
                            Register
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
