<footer class="bg-black text-black text-center py-5">
    <img src=" ~ /images/WhatsAppImage.jpeg" width="100" />  
    <p>&copy; AM-Supplement whatsapp <a href="tel:01029067976" class="text-bg-dark"></a>01029067976 </p>
    <p>&copy; AM-Supplement facbook <a href="facebook">https://www.facebook.com/share/192RUhmnvJ/</a></p>
    
    <p>&copy; @DateTime.Now.Year - this website created with  Al-Dakroury for Software Engineering <a href="tel:01114790265" class="text-black"> 01114790265</a></p>

</footer>