<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="card-header" href="@Url.Action("Index")">
        <img src=" ~ /images/WhatsAppImage.jpeg" width="100"/>
        </a>
        <ul class="headrul">
            <li class="itemheader">@Html.ActionLink("Homepage", "Index", "PrroductController")</li>
            <p>&copy; AM-Supplement whatsapp <a href="tel:01029067976" class="text-bg-dark"></a>01029067976 </p>
            <p>&copy; AM-Supplement facbook <a href="facebook">https://www.facebook.com/share/192RUhmnvJ/</a></p>
</ul>
    </nav>
</header>