@model List<ProductDTO>

@{
    ViewData["Title"] = "Products List";
}

<h1>Products Lists</h1>
<h2>AMSupplement</h2>

@if ( Model.Any())
{
    <div class="Listproducts row row-cols-1 row-cols-md-3 g-4" >
@foreach (var item in Model)
       {
           <div class="col">
@await Html.PartialAsync("_CardforProductList", item);

            </div>
        }
    </div>

}
else
{
<div>

    NotFountProductsNow
        
</div>
}