@using AM_Supplement.Contracts.DTO.AdminDasboard.AdminAccount
@model ChangePasswordDTO
@{
    Layout = "_Layout";
    ViewData["Title"] = "Change Password";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <h3 class="mb-4 text-center">Change Password</h3>
        <form asp-action="ChangePassword" method="post">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label>Old Password</label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label>New Password</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label>Confirm New Password</label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success w-100">Change Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

