html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
div.card {
    flex: 0 0 auto;
    background-color: #00ffff;
    color: #000000;
    border: thin #808080;
    padding: 0px;
    text-align:center
}

div.listproduct {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 130px;
}
